body{
    background: #2c3e50;
}
h1{
    color: wheat;
}
.form{
    color: white;
}
.kirim{
    background-color: black;
    color: aqua;
    width: 100px;
}
.kirim:hover{
    background-color: white;
    color: black;
    transition: .5s;
}
.layout{
    text-align: center;
    color: rgb(184, 150, 15);
}
.kotak{
    border: 2px solid;
    width:200px;
}